.artists
  .artists-content.ice-content
    .artists-infos
      .borders
        .border-left
        .border-right
      a.bt-close-holder(href="#")
        span.bt-close
          span.bg
            span.bg-normal
            span.bg-hover
          span.icon
      .artists-infos-content-holder
        .artists-infos-content
          .artists-infos-title.underline ARTISTS
          .artists-infos-desc Thanks to all the digital artists<br />who bring love to the 2014 edition!
    .artists-entries-holder
      .artists-entries
        - var n = experiments.length
        - for( var i = 0; i < n; i++ )
          .artists-entry
            .borders
              .border-right
              .border-bottom
            .artists-entry-holder
              img.artists-entry-avatar(src="img/avatars/#{i + 1}.png", width="155", height="155")
              .artists-entry-content
                a.artists-entry-author(href=experiments[ i ].site)= experiments[ i ].author
                .artists-entry-desc= experiments[ i ].bio
                - if ( i < 10 )
                  .artists-entry-day 0#{i + 1}
                - else
                  .artists-entry-day= i

