.artists
  .artists-content.mobile
    .artists-infos
      .artists-infos-content-holder
        .artists-infos-content
          .artists-infos-title.underline ARTISTS
          .artists-infos-desc Thanks to all the digital artists<br />who bring love to the 2014 edition!
    .artists-entries
        - var n = artists.length
        - for( var i = 0; i < n; i++ )
          div.artists-entry
            +_mobile-artists-entry-holder( i )
                
  .artists-content.ice-content.no-mobile
    .artists-infos
      .borders
        .border-left
        .border-right
      a.bt-close-holder(href="#")
          span.bt-close
            span.bg
              span.bg-normal
              span.bg-hover
            span.icon
      .artists-infos-content-holder
        .artists-infos-content
          .artists-infos-title.underline ARTISTS
          .artists-infos-desc Thanks to all the digital artists<br />who bring love to the 2014 edition!
    .artists-entries-holder
      .artists-entries
        - var n = artists.length
        - for( var i = 0; i < n; i++ )
          .artists-entry
            span.borders
              span.border-right
              span.border-bottom
            //- span.artists-entry-hover-parts
            //-   span.artists-entry-hover-part.artists-entry-hover-part--left
            //-     +_artists-entry-holder( i )
            //-   span.artists-entry-hover-part.artists-entry-hover-part--right
            +_artists-entry-holder( i )

mixin _artists-entry-holder( i )
  span.artists-entry-mask
    span.artists-entry-holder
      img.artists-entry-avatar(src="img/avatars/#{artists[ i ].preview}", width="155", height="155")
      span.artists-entry-content
        a.artists-entry-author(href=artists[ i ].site, target="_blank")= artists[ i ].author
        span.artists-entry-desc= artists[ i ].bio
        a.artists-entry-day(href="/experiments/#{artists[ i ].idx}", target="_blank", class= artists[ i ].idx > idx ? "not-released" : "" )
          //- spam.artists-entry-day-fu
          - if ( artists[ i ].idx > idx )
            span.artists-entry-day-holder
              span.name NOT RELEASED - 
              span.idx= artists[ i ].idx
          - else 
            span.artists-entry-day-holder
              span.name VIEW EXPERIMENT - 
              span.idx= artists[ i ].idx

mixin _mobile-artists-entry-holder( i )
  img.artists-entry-avatar(src="img/avatars/#{artists[ i ].preview}", width="155", height="155")
  span.artists-entry-content
    a.artists-entry-author(href=artists[ i ].author)
      span= artists[ i ].author
    span.artists-entry-desc= artists[ i ].bio
    span.artists-entry-day= artists[ i ].idx
